<div class="top-bar">
    <nav class="top-bar__menu contextual-menu">
        <ul>
            {% for item_name, item in nav.items() %}
            {% if item is string %}
            <li class="contextual-menu__item">
                <a class="contextual-menu__button" href="{{ item }}" title="{{ item_name }}">{{ item_name }}</a>
            </li>
            {% else %}
            <li class="contextual-menu__item submenu">
                <a class="contextual-menu__button" href="#" title="{{ item_name }}" target="_blank">
                    {{ item_name }}
                </a>
                <ul class="submenu__list">
                {% for subitem_name, subitem in item.items() %}
                    <li class="submenu__item">
                        <a class="submenu__button" href="{{ subitem }}" title="{{ subitem_name }}">{{ subitem_name }}</a>
                    </li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <div class="off-canvas-menu" aria-hidden>
        <button class="off-canvas-menu__trigger"><i class="material-icons">close</i></button>

        <nav>
            <ul class="off-canvas-menu__contextual">
                {% for item_name, item in nav.items() %}
                {% if item is string %}
                <li class="off-canvas-menu__item">
                    <a class="" href="{{ item }}" title="{{ item_name }}">{{ item_name }}</a>
                </li>
                {% else %}
                <li class="off-canvas-menu__item off-canvas-menu__submenu">
                    <a class="" href="#" title="{{ item_name }}" target="_blank">
                        {{ item_name }}
                    </a>
                    <ul class="submenu__list">
                    {% for subitem_name, subitem in item.items() %}
                        <li class="submenu__item">
                            <a class="submenu__button" href="{{ subitem }}" title="{{ subitem_name }}">{{ subitem_name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

       </nav>
    </div>
</div>
