<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}360Insights{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn.threesixtygiving.org/images/favicon/favicon.ico"/>

  <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

  {% if config.ENV == 'development' %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.js"></script>
  {% else %}
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
  {% endif %}
  <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"
          integrity="sha256-WL6HHfYfbFEkZOFdsJQeY7lJG/E5airjvqbznghUzRw=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/lib/leaflet.groupedlayercontrol.js') }}"></script>

  <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>

  {% block headscripts %}
  {% endblock headscripts %}
</head>
<body>
  <div class="layout layout--single-column">
    {% block header %}
    {% include 'components/nav.html.j2' %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% include 'components/footer.html.j2' %}
    {% endblock footer %}
  </div>
  {% block bodyscripts %}
  {% endblock bodyscripts %}
</body>
</html>