{% extends 'base.html.j2' %}

{% block bodyscripts %}
  {{ super() }}

<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />


  <script>
    {# Upload functionality disabled for now const UPLOAD_URL = {{ url_for('upload')|tojson }}; #}
    const DATASET_SELECT = {{ dataset_select|tojson }};
    const MAPBOX_ACCESS_TOKEN = {{ config.MAPBOX_ACCESS_TOKEN|tojson }};
  </script>
  <script type="module" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
{% endblock %}

{% block content %}
  <header class="layout__header">
    {% include 'components/flash-messages.html.j2' %}
    <div class="hero-section">
      <div class="wrapper">
        <div class="hero hero--orange">
          <!-- .hero--orange, .hero--yellow, .hero--red -->
          <div class="hero__column hero__logo">
            <a href="/"><img src="https://cdn.threesixtygiving.org/images/360-logos/insights/360insights-color.svg"
                alt="360 "></a>
          </div>
          <div class="hero__column hero__lead">
            <h2 class="hero__title">See your grantmaking in new ways</h2>
            <p class="hero__blurb">Combine and visualise 360Giving, charity and other data to answer questions about your
              grantmaking</p>
          </div>
        </div>
      </div>
    </div>
  </header>


{% include 'components/chart-card.vue.j2' %}
{% include 'components/loading.vue.j2' %}
{# Start of homepage.js VueJS application #}
{% raw %}
<div id="app" v-cloak>

  <main class="layout__content" >
    <div class="layout__content-inner">
      <div class="layout__header wrapper">

        <div class="grid">
          <div class="grid__1 hide-print">
            <a href="#" class="button material-icons" title="Print this page" style="float:right; margin-left: 5px;" onclick="window.print()">print</a>
          </div>
        <div>

        <div class="grid grid--four-columns">

          <div class="grid__1">
            <div class="base-card base-card--orange">
              <loading v-if="loading"></loading>
              <div class="base-card__content">
                <h2 class="base-card__title">{{datasetSelect.dataset_stats.grants_total | formatNumberSuffix
                  }}{{datasetSelect.dataset_stats.grants_total |
                  getAmountSuffix(true) }}</h2>
                <p class="base-card__text">Grants</p>
              </div>
            </div>
          </div>

          <div class="grid__1">
            <div class="base-card base-card--teal">
              <loading v-if="loading"></loading>
              <div class="base-card__content">
                <h2 class="base-card__title">{{ datasetSelect.dataset_stats.recipients_total | formatNumberSuffix }}{{
                  datasetSelect.dataset_stats.recipients_total |
                  getAmountSuffix(true) }}</h2>
                <p class="base-card__text">Recipients</p>
              </div>
            </div>
          </div>

          <div class="grid__1">
            <div class="base-card base-card--yellow">
              <div class="base-card__content">
                <h2 class="base-card__title">{{ datasetSelect.dataset_stats.amount_total | formatCurrency("GBP") }}</h2>
                <p class="base-card__text">{{ datasetSelect.dataset_stats.amount_total | getAmountSuffix }} total</p>
              </div>
            </div>
          </div>

          <div class="grid__1">
            <div class="base-card base-card--yellow">
              <div class="base-card__content">
                <h2 class="base-card__title">{{ datasetSelect.dataset_stats.amount_average | formatCurrency("GBP") }}{{
                  datasetSelect.dataset_stats.amount_average |
                  getAmountSuffix(true) }}</h2>
                <p class="base-card__text">Average Grant*</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="spacer-3"></div>

    <chart-card color="orange" v-bind:loading="loading" v-for="(dataset, key) in datasetSelectSections" class="spacer-3">
      <chart-card-header v-bind:title="dataset">
        (number of grants)
      </chart-card-header>
      <ul class="bar-chart" >
        <li class="bar-chart__item" v-for="(group, index) in datasetSelect[key]"
          v-bind:title="group.grant_count"
          v-bind:style="barStyle(key, group.grant_count)"
          v-bind:ref="key"
          v-bind:data-label="group.name"
          v-on:click="openDataPage(key, group.id)"
          >
          <label class="bar-chart__label small">{{ group.name }}</label>
          <div class="bar-chart__bar"><span></span></div>
        </li>
      </ul>
      <input v-if="datasetSelect[key].length > 10" class="search-field" v-model="find[key]" v-bind:placeholder="'Find '+dataset" />

      <div>
        <hr class="separator-light">
        <p>Total {{dataset}} {{datasetSelect[key].length}}. <a v-if="dataset == 'Regions' || dataset == 'Countries' || dataset == 'Local authorities'" href="#map">Map.</a></p>
     </div>
    </chart-card>

    <!-- choropleth -->
    <chart-card color="teal">
      <chart-card-header title="Regional Distribution by number of Grants"></chart-card-header>
      <a name="map"></a>
      <choropleth class="base-card__content" container="ch-1" height="680px"></choropleth>
      <div>
        <hr class="separator-light">
        <p>Zoom into a Country/Region to view Local Authority-level data.</p>
      </div>
    </chart-card>


    <div class="spacer-3"></div>

    <chart-card color="orange">
      <chart-card-header title="Data sources"></chart-card-header>
      <p>Charity data is sourced from <a href="https://findthatcharity.uk/" target="_blank"
          rel="noreferrer">findthatcharity.uk</a> and postcode data from <a href="https://findthatpostcode.uk/"
          target="_blank" rel="noreferrer">postcodes.findthatcharity.uk</a>. Company data is fetched using Companies
        House URIs. All external data is used under the <a
          href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" target="_blank"
          rel="noreferrer">Open Government Licence</a>.</p>
      <p><a href="https://insights.threesixtygiving.org/about#data-sources">More about data sources</a></p>

    </chart-card>

    <div class="spacer-3"></div>

  <!-- upload

    <div class="card-list">
      <div class="card-list__item">
      <article class="media-card media-card--red media-card--self-contained" id="upload-data">
        <div class="media-card__content">
          <header class="media-card__header">
            <h3 class="media-card__heading">Upload your own file</h3>
          </header>
          <p>Upload a file that meets the <a href="https://standard.threesixtygiving.org/">360Giving Data Standard</a>.</p>
          <button class="button button--red modal__trigger" v-on:click.stop="uploadModal = !uploadModal"
            data-id="modal-01">Upload Dataset</button>
        </div>
      </article>
      </div>

  <div id="modal-01" class="modal" v-bind:class="{ 'modal--shown': uploadModal }" v-if="uploadModal">
    <div class="modal__overlay modal__trigger" data-id="modal-01"></div>
    <div class="modal__window">
      <button class="modal__close modal__trigger" data-id="modal-01" v-on:click.stop="uploadModal = !uploadModal"></button>
      <div class="modal__content">
        <template v-if="uploadStatus=='uploading'">
          <h4>Uploading {{ uploadFile.name }}</h4>
          <loading v-if="loading"></loading>
        </template>
        <template v-else>
          <input type="file" v-on:change.prevent="addFile" ref="uploadFileInput" style="display: none" />
          <div class="upload-file drag-drop" v-if="!uploadFile" v-on:click.prevent="openFileDialog" v-on:drop.prevent="addFile" v-on:dragover.prevent="">
            <h3 class="margin-bottom:05 margin-top:05">Drop your file here</h3>
          </div>
          <div class="upload-file drag-drop padding-left:1 padding-right:1 padding-top:1 padding-bottom:1" v-on:click.prevent="openFileDialog" v-on:drop.prevent="addFile" v-on:dragover.prevent="" v-else>
            <code>{{ uploadFile.name }}</code>
          </div>
          <div v-if="uploadFile" class="grid grid--four-columns margin-top:3">
            <div class="grid__1">
              <label for="source-title">File title</label>
            </div>
            <div class="grid__3">
              <input class="filter-input search-field" id="source-title"  v-model="uploadSourceTitle" />
            </div>
            <div class="grid__all">
              <button v-on:click.prevent="startUpload" class="button button--orange">Upload file</button>
              <button v-on:click.prevent="uploadFile = null; uploadSourceTitle = null;" class="button button--small margin-left:2">Choose a different file</button>
            </div>
          </div>
        </template>

        <div class="box box--red margin-top:2 padding-left:1 padding-right:1 padding-top:1 padding-bottom:1" v-if="uploadError">
          <h3 class="box__heading">Error</h3>
          <p>{{ uploadError }}</p>
        </div>

        <h4>Data Privacy Information</h4>
        <p>Please ensure that you have the appropriate permissions to upload data into 360Insights.</p>
        <p>Do not submit confidential or non-public personal data to this tool.</p>
        <p>Read our <a href="/about#data-upload" target="_blank">privacy notice<span class="screen-reader-only">(opens in a new tab)</span></a> for further information.</p>
        <p><strong>File size</strong>: Large files (above 10Mb) may not work properly.</p>
      </div>
    </div>
  </div>
   / upload modal -->

  </main>
</div> <!-- / app -->
{% endraw %}
{# End of homepage.js VueJS application #}
{% endblock content %}
